@charset "UTF-8";

/*부트스트랩 수정*/
div {
	/* border: 1px dotted #000; */
}
/* home */
#top {
	width: 100%;
	height: 400px;
}
.menu-wrap .navbar-default .navbar-nav>li>a{
	color:#fff;
}
#top .menu-wrap .navbar-default,
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background:none;
	border:0px none;
}
#navbar, .navbar {
	border: 0px none;
}
.navbar-header{
	position:relative;	
}
.navbar-toggle{
	position:absolute;
	background:none;
	border:0px none;
	top:0px;
	left:0px;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#fff;
}
.navbar-toggle .icon-bar{
	width:28px;
	height:4px;
	border-radius:18px;
}
#top-category-wrap>div{
	background-color:#F2F2F2;
}
#top-category-wrap .inner{
	max-width:1000px;
}
#top-category-wrap .inner>div{
	height:50px;
	line-height:50px;
}
#top-category-wrap .inner>div a{
	text-decoration:none;
	color:#2c2c2c;
	font-size:16px;
	font-weight:bolder;
}
.innercard{
   position:relative;
}
.innercard a{
   width:100%;
   height:100%;
   position:absolute;
   top:0px;
   left:0px;
   z-index:9997;
   text-indent:-99999em;
   overflow:hidden;
}
@media screen and (max-width: 768px){
	#navbar{
		background-color:rgba(0,0,0,0.7);
	}
}

