<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.repository.MemberDao">

	<!-- Database 명령 작성 <select id="getList" resultType="spring.bean.MenuDto"> 
		<select id="getList" resultType="menuDto"> select * from menu order by name 
		asc </select> <select id="getListByName" resultType="menuDto" parameterType="String"> 
		select * from menu where name like '%'||#{name}||'%' order by name asc </select> -->
	
	<insert id="register" parameterType="memberDto">
		insert into users
		values(
		users_seq.nextval,#{email},#{pwd},#{salt},#{loop},#{nickname},#{phone},#{addr},#{lat},#{longi},#{c_bno},1,#{sex},sysdate,profile_seq.nextval,#{distance},'0','0','0')
	</insert>
	
	 <insert id="register_gosu" parameterType="memberDto">
		insert into users
		values(
		users_seq.nextval,#{email},#{pwd},#{salt},#{loop},#{nickname},#{phone},#{addr},#{lat},#{longi},#{c_bno},2,#{sex},sysdate,profile_seq.nextval,#{distance},'0','0','0')
	</insert> 
	
	
	<select id="login" resultType="MemberDto">
	
		select email,pwd,salt,loop,granted from users where email=#{email}
	
	</select>
	
	<select id="get" resultType="MemberDto">

		select * from users where email=#{email}
	</select>
		
		
</mapper>

