<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 마이바티스의 행위를 제어하기 위한 값 설정 -->
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="autoMappingBehavior" value="FULL" />
		
	</settings>

	<!-- 별칭 : 마이바티스는 풀 패키지명을 이용해야 하는데 이를 축약할 수 있는 설정 -->
	<!-- <typeAliases> <typeAlias type="spring.bean.MenuDto" alias="menuDto"/> 
		</typeAliases> -->
		
	 <typeAliases>
		<typeAlias type="spring.bean.MemberDto" alias="memberDto"/>
		<typeAlias type="spring.bean.CategoryTopDto" alias="categoryTopDto"/>
		<typeAlias type="spring.bean.CategoryMidDto" alias="categoryMidDto"/>
		<typeAlias type="spring.bean.CategoryBotDto" alias="categoryBotDto"/>
		<typeAlias type="spring.bean.FileDto" alias="fileDto"/>
	</typeAliases> 

</configuration>








